// Navigation code here
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  background-color: @wild-sand;
  color: @nav-font;
  border-bottom: 2px solid @nav-border;
  div {
    display: flex;
    justify-content: space-between;
    width: 380px;

    a {
      .anchorLinks(
        1.8rem,
        @nav-font,
        @backgroundColor: @wild-sand,
        @borderRadius: 0px
      );
    }
  }
}
